/* GENERAL */
body{
    background: #000;
    color: #fff;
    margin-top: 55px;
    margin-bottom: 55px;
}

.container{
    max-width: 800px;
}

/* PRELOADER */

#prelaoder{
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
}

.socket{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 52px;
    height: 52px;
    margin: auto;
}

.socket img{
    -webkit-animation: rotate .6s linear infinite;
            animation: rotate .6s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    /* Safari and Chrome */
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

/* CANVAS */

#canvas-container{
    position: fixed !important;
    z-index: 0;
    width: 100%
    height 100%;
    opacity: 0;
}

canvas{
    position: fixed !important;
    z-index: 0;
    width: 100%;
    height: 100%;
}

/* BLOCK LOGO */

.block-logo{
    text-align: right;
    margin-bottom: 160px;
}

.block-logo img{
    width: 150px;
    height: 40px;
}

.block-logo .slide{
    opacity: 0;
}

.block-logo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 88px;
}

/* BLOCK CONTENT */

.block-content{
    text-align: center;
    margin-bottom: 100px;
}

.block-content img{
    width: 330px;
    height: 90px;
    margin-bottom: 60px;
    opacity: 0;
}

.block-content .fade{
    opacity: 0;
}

.block-content p{
    margin-bottom: 0;
}

.block-content .bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.block-content .light{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

/* BLOCK SOCIAL */

.block-social{
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
}

.block-social img{
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.block-social .bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

/* BLOCK DROP */

.block-drop{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    opacity: 0;
}

.block-drop img{
    width: 69px;
    height: 69px;
}
